.azure
.alzlib
.terraform
*.tfstate
*.tfstate.*
*tfplan*
.terraform.tfstate.lock.info
.terraformrc
terraform.rc
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

.*.envrc
!.envrc